/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import url('https://fonts.googleapis.com/css?family=Lobster');

 body{
     font-family: 'Lobster', cursive;
 }
 .hero{
     background-image: url('../image/image1.jpg');
     min-height: 400px;
     background-size: cover;
     position: relative;
     color: #fff;
 }
 .hero .intro,
 .hero .intro .row{
     height: 100%;
     text-align: center;
 }
 .hero .intro h1{
     font-weight: 400;
     font-size: 2.1rem;
 }
 .overlay{
     background: rgb(0,0,0,.5);
     height: 100%;
     width: 100%;
     position: absolute;
 }
 .home section{
 padding: 40px 0px;
 }
 .home section .title{
     text-align: center;
     padding: 20px;
 }
 .features{
     background: #f8f9fa;
 }
 .features .feature{
     padding: 15px;
     text-align: center;
 }
 .features .feature img,
 .features .feature h4{
     margin: 10px;
 }