<!DOCTYPE html>
<html>
<head>
	<title>clase4</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"><!--para crear bustrap desde la pagina la pagina-->
		<link rel="stylesheet" type="text/css" href="css/clase4_css.css"><!--para crear llamado al css de la pagina-->
</head>

<body class="home">
	<h1>
		<center>
		<p>Ejercicio clase 4 html</p>
	</center>
	</h1><!--para crear titulo de la pagina de la pagina-->
<header class="hero">
	<div class="overlay">
		<div class="container intro">
			<div class="row aling-items-center justify-content-center">
				<div class="col-md-9">
					<h1>
						CABECERA: Diseñamos y construimos sitios web
					</h1>
					<p>Con tecnologia brindamos soluciones a su medida</p>
				</div>
			</div>
		</div>
	</div>
</header>
<!--para crear las secciones main o centrales de la pagina-->
<main>
<section class="features">
	<center><div class="container">CONTENIDO PRINCIPAL</div></main></center>
	<div class="row"><!--para crear las secciones con columnas de la pagina-->
		<div class="col title">
			<center><h1>
			creaciones futuristas
			</h1></center>
		</div>
	</div>
	<div class="row"><!--definimos el tipo de columnas-->
		<div class="col-md-4 feature"><!--definimos la cantidad de cajas o columnas-->
			<center>
			<img src="image/icons/icon1.png">
			<h1 class="title">
				caja1
			</h1>
			<p>descripcion del producto para saber de que es el tema que se habla</p>>
		</div>
		</center>
		<div class="col-md-4 feature">
			<center>
			<img src="image/icons/icon2.png">
			<h1 class="title">
				caja2
			</h1>
			<p>descripcion del producto para saber de que es el tema que se habla</p>>
		</div>
		</center>
		<div class="col-md-4 feature">
			<center>
			<img src="image/icons/icon3.png">
			<h1 class="title">
				caja3
			</h1>
			<p>descripcion del producto para saber de que es el tema que se habla</p>>
		</div>
		</center>
		</div>
	</div>
	<div class="row"><!--definimos el tipo de columnas-->
		<div class="col-md-4 feature"><!--definimos la cantidad de cajas o columnas-->
			<center>
			<img src="image/icons/icon4.png">
			<h1 class="title">
				caja4
			</h1>
			<p>descripcion del producto para saber de que es el tema que se habla</p>>
		</div>
		</center>
		<div class="col-md-4 feature">
			<center>
			<img src="image/icons/icon5.png">
			<h1 class="title">
				caja5
			</h1>
			<p>descripcion del producto para saber de que es el tema que se habla</p>>
		</div>
		</center>
		<div class="col-md-4 feature">
			<center>
			<img src="image/icons/icon6.png">
			<h1 class="title">
				caja6
			</h1>
			<p>descripcion del producto para saber de que es el tema que se habla</p>>
		</div>
		</center>
		</div>
	</div>
</section>
<footer><div class="container">PIE DE PAGINA</div></footerr><!--para crear las secciones pie de pagina de la pagina-->
<br>
<!--para llamar el scrips de bustrap en la pagina-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script><!--para llamar el scrips de bustrap en la pagina-->
</body>
</html>